<ul class="list-group">
    <li class="list-group-item active main_color_bg links" aria-current="true">Dashboard</li>
    <li class="list-group-item">@Html.ActionLink("Orders", "OrdersByWarehouse/1", "Order") <span class="badge main_color_bg rounded-pill">3</span> </li>
    <li class="list-group-item" aria-current="true">Products</li>
    <li class="list-group-item">@Html.ActionLink("All Products", "Products", "Product") </li>
    <li class="list-group-item">@Html.ActionLink("Add a product", "ProductForm", "Product") </li>
</ul>



