@using InventoryApp.Models
@model Order





<table class="table">
    <thead>
        <tr>
            <th scope="col">Detail</th>
            <th scope="col">Particulars</th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <th scope="row">Customer Name</th>
                <td>@Model.CustomerName</td>
            </tr>

            <tr>
                <th scope="row">Customer Email</th>
                <td>@Model.CustomerEmail</td>
            </tr>

            <tr>
                <th scope="row">Delivery Type</th>
                <td>@Model.DeliveryType</td>
            </tr>

            <tr>
                <th scope="row">Delivery Partner</th>
                <td>@Model.DeliveryPartner</td>
            </tr>




    </tbody>
</table>