@{
    Layout = "/Views/shared/_Layout.cshtml";
}


@section Chamber
{
    <h1>Orders Page - written in Chamber section</h1>
}

@section DetailChamber
{
    <h1>Orders Page - written in DetailChamber section</h1>
}


