using DashboardApp.Models;

@model Tuple<List<DashboardApp.Models.Product>,string>
@{
    Layout = "/Views/shared/_Layout.cshtml";
}


@section Chamber
{
    <p>@Model.Item2</p>


}

@section DetailChamber
{
    <h1>Products Page - written in DetailChamber section</h1>
}

