

@{
    Layout = "/Views/shared/_Layout.cshtml";
}

@section Chamber
{

    <div>
        <div class="alert alert-success" role="alert">
            @ViewBag.CreationStatus
        </div>


        <input type="button" class="btn btn-primary" value="Create Another Product" onclick="location.href='@Url.Action("ProductForm", "Product")'" />

    </div>

}